# Markdown Basics
## Markdown Basics
### Markdown Basics
* **Converting into bold** <br>
* *itallic* <br>
* ***bold and itallic*** <br>
* Normal Text <br>
  * sublist1
  * sublist2


1. ordered list 1
2. ordered list 2

[jupyterlogo](jupyterlogo.png)
![jupyterlogo](jupyterlogo.png)
<img src="jupyterlogo.png" width=500 height=500 style="float:left">
I get 10 times more traffic [google][] than from [Yahoo][] or [MSN]
    [google]: https//google.com  "google"
    [Yahoo]: https//yahoo.com  "yahoo"
    [msn]: https//msn.com  "msn"
 printf("hi good afternoon")
 <slakshman439@gmalil.com>

# PythonBasics
### Python version 3.7
* scripting

In [6]:
#python comments

print("good afternoon !",end="||")
print("hello python")

good afternoon !||hello python

# Assignment

In [14]:
n1=123456 #single variable Assignment
n2=n3=n4=n1 #multi variable Assignment of the same value
n3
a,b,c=123,124,345 #multi variable assignment with value
print (n1)
print (a,b,c)

123456
123 124 345

# Arithmetic operation
* +
* -
* /
* %
* *
* '**'

In [36]:
n1 % 11
n3=n2 ** 123456
type(n3)
n3
#len(str(n3))
atoms=10 ** 82
len(str(atoms))

83

# conditionals

In [51]:
if atoms < 10 ** 9:
    print ("True")
else:
    print("False")
n=10
if n % 2== 0:
    print("Even")
else:
    print("Odd")

False
Even

In [58]:
#gretest among three numbers
n1=int(input("enter first number"))
n2=int(input("enter second number"))
n3=int(input("enter third number"))
if n1>n2:
    if n1>n3:
        print(n1,"n1 is greatest")
    else :
        print(n3,"n3 is greatest")
elif n2>n3:
    print(n2,"n2 is greatest")

enter first number6
enter second number5
enter third number0
6 n1 is greatest

In [63]:
#check if a year is a leap year or not
n1=int(input("enter a Year"))
if (n1%400==0) or (n1%4==0 and n1%100!=0) :
    print(n1,"Leap Year")
else:
    print(n1,"Not Leap Year")

enter a Year2019
2019 Not Leap Year

In [64]:
#check if the given number exits in a given range or not
n1=int(input("enter a number"))
lower=int(input("enter lower"))
upper=int(input("enter upper"))
if n1>lower and n1<upper:
    print("exists")
else:
    print("not exitst")

enter a number50
enter lower40
enter upper60
exists

In [7]:
#calculate no of digits in a number
n1=int(input("enter a number"))
print(len(str(n1)))

enter a number1234
4

In [4]:
#check if a number is a multiple of 10
n1=int(input("enter a number"))
if n1%10==0:
    print("yes this is multiple")
else:
    print("this is not a multiple")

enter a number23
this is not a multiple

In [6]:
#check if a number is a factor of 1000
n1=int(input("enter a number"))
if 1000%n1==0:
    print(n1,"yes multiple of 1000")
else:
    print(n1,"not a multiple of 1000")

enter a number5
5 yes multiple of 1000

In [9]:
#check if given string is equal to a number or not
s1="123456"
n1=123456
if str(s1)==n1:
    print("yes both are equal")
else:
    print("not equal")

not equal

In [11]:
#calculate the square root of a number without using functions
n1=int(input("enter a number"))
print(n1**2)

enter a number4
16

In [ ]:
#calculate no of nano seconds in a year(based on leapyear technique)
s=int(input("enter a year"))
if s%400 or (s%4==0 and s%100!=0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

enter a year2020

# Data types and convertions
* int
* float
* string

In [45]:
s1="lucky"
type(s1)

f1=12.345
(float(int(f1)))

12.0