# income data file

In [2]:
#using functons
import pandas as pd
filepath='Datafiles/income.csv'
def readcsvdata(filepath):
    return pd.read_csv(filepath)
readcsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [3]:
incomedf=readcsvdata(filepath)
def printcolumns(df):
    columns=df.columns
    for column in columns:
        print(column,end=' ')
    return
printcolumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [4]:
# function to access a row based on a unique column value
def accessdataframerow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessdataframerow(incomedf,'Alaska')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [5]:
# Accessing a unique value based on row,column information
# Income of a state in a given year
def valuefromRowCol(df,rowkey,colkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    for i in range(len(df.columns)):
        if df.columns[i]==str(colkey):
            columnindex=i
    return df.values[rowindex][columnindex]
valuefromRowCol(incomedf,'04000US06',2013)

57528

In [6]:
#Average income of states from 2005 to 2013
def avgincomestate(df):
    s=0
    count=0
    for key in df.values:
        s+=(sum(key[2:]))
        count+=len(key[2:])
        print(s//count)
avgincomestate(incomedf)

41126
50616
49482
46819
48525

In [7]:
incomedf.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 47215, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528]], dtype=object)

In [8]:
#State with highest average income in the last three years
def avglastthree(df):
    s=0
    c=0
    li=[]
    li2=[]
    for key in df.values:
        a=0
        s+=sum(key[-3:])
        c+=len(key[-3:])
        a+=s//c
        li.append(a)
        li2.append(key[1])
    b=max(li)
    e=li.index(b)
    print(li2[e],b)
    
avglastthree(incomedf)

Alaska 51608

In [9]:
# State with lowest average income from 2007 to 2010(inclusive)
def lowavgstate(df):
    s=0
    c=0
    li=[]
    li2=[]
    for key in df.values:
        a=0
        s+=sum(key[5:9])
        c+=len(key[5:9])
        a=s//c
        li.append(a)
        li2.append(key[1])
    b=max(li)
    e=li.index(b)
    print(li2[e],b)
lowavgstate(incomedf)

Alaska 51106

In [10]:
# Print the list of all states in the same line with average income less than California
def statelesscali(df):
    s=0
    count=0
    li=[]
    li2=[]
    for key in df.values:
        s+=(sum(key[2:]))
        count+=len(key[2:])
        avg=s//count
        li.append(avg)
        li2.append(key[1])
    ind=li2.index('California')
    val=li[4]
    l=len(li)
    for i in range(l):
        if li[i]<li[4]:
            print(li2[i],li[i])
statelesscali(incomedf)

Alabama 41126
Arkansas 46819

In [11]:
#Print the names of states based on descending order of income in the year 2009
def statesdescend(df):
    li=[]
    li2=[]
    for key in df.values:
        li.append(key[1])
        li2.append(key[6])
    a=sorted(li2,reverse=True)
    print(a)
    l=len(a)
    for i in range(l):
        for j in range(l):
            if a[i]==li2[j]:
                print(li[j],a[i])
statesdescend(incomedf)

[61604, 56134, 45739, 39980, 36538]
Alaska 61604
California 56134
Arizona 45739
Alabama 39980
Arkansas 36538

In [14]:
# State with lowest rcorded income from 2005 to 2013
def lowrecord(df):
    li=[]
    li2=[]
    for key in df.values:
        s=min(key[2:10])
        li.append(s)
        li2.append(key[1])
    s=min(li)
    print(li,li2)
    ind=li.index(s)
    print(li2[ind],li[ind])
lowrecord(incomedf)

[37150, 55891, 45245, 36538, 51755] ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California']
Arkansas 36538